.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    margin: auto 4%;
}
.pokeCard{
    display: flex;
    width: 12%;
    height: auto;
    border: 5px yellow solid;
    border-radius: 15px;
    background-color: gray;
    margin: 2% 0;
    align-items: center;
}
.pokeCard>img{
    width: 90%;
    height: auto;
    margin: 5%;
}